body {
    font-family:"Times New Roman", Times, serif;
    background-color: #80bfff;
    background-image: linear-gradient(to bottom, #80bfff, #ffe6b3 75%);
    background-attachment: fixed;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-size: 18px;
}
 
.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

header {
    background: #ff8566;
    background-image: linear-gradient(to bottom, #ff8566, #ff8566 100%);
    padding: 20px 15px 15px 15px;
    position: relative;
}
 
#login-buttons {
  display: block;
  color:white;
}
 
h1 {
  font-size: 3em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
  color: white;
}
 
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
 
.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1.5em;
  color:white;
}
 
.new-task input:focus{
  outline: 0;
  color:white;
}
 
ul {
  margin: 0;
  padding: 0;
  background: white;
}
 
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
 
li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1.5px;
}
 
li .text {
  margin-left: 10px;
}
 
li.checked {
  color: #888;
}
 
li.checked .text {
  text-decoration: line-through;
}
 
li.private {
  background: #eee;
  border-color: #ddd;
}
 
header .hide-completed {
  float: right;
  color: white;
}
 
.toggle-private {
  margin-left: 5px;
}
 
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-task input {
    padding-bottom: 5px;
    color:white;
  }
}
